.calendar-body {
    padding: 20px 18px 10px 18px;
}

.calendar-days div.today {
    background: #C40008;
    border-radius: 4px;
    color: #fff;
}

.calendar-days div.next-event {
    background: #F2F3F5;
    border-radius: 4px;
    color: #C40008;
}


.modal-calendar {
    display: none;
}

.modal-calendar>div:first-child {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background: #000;
}


.modal-calendar>div:last-child {
    background: #fff;
    border-radius: 10px;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    min-width: 500px;
}

.modal-calendar .modal-header {
    height: 3rem;
}

.modal-calendar .modal-body {
    max-height: 400px;
    padding: 10px 23px 20px 23px;
}

.modal-calendar .modal-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-calendar .modal-body ul li {
    padding: 15px 0;
    border-bottom: solid 1px #ececec;
}

.modal-calendar .modal-body ul li:first-child {
    padding-top: 0;
}

.modal-calendar .modal-body ul li:last-child {
    padding-bottom: 0;
}

.modal-calendar .modal-body ul li:last-child {
    border: none;
}

.modal-calendar .modal-body ul li strong {
    font-size: 0.875rem;
}

.modal-calendar .modal-body ul li .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.modal-calendar .modal-body ul li .tags span {
    display: block;
    background: #F2F3F5;
    border-radius: 4px;
    color: #C40008;
    margin-right: 5px;
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 2px 7px;
}



@media screen and (max-width: 768px) {
    .mpsp_modal_calendar>div:last-child {
        left: 15px;
        right: 15px;
        transform: none;
        top: 20%;
        min-width: 250px;
    }
}