body{
    background: #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.calendario{
    background: #fff;
    border-radius: 8px;
    max-width: 500px;
}

span{
    margin-top: auto;
}